<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="DGSConfigurations">
      <section name="DataMessage" type="DGSRestServices.Common.Utilities.MessageManagerSettings, DGSRestServices.Common" />
    </sectionGroup>

    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="DGSDATAEntities" connectionString="metadata=res://*/DGSDATAModel.csdl|res://*/DGSDATAModel.ssdl|res://*/DGSDATAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqlserver2012db.cloudapp.net,8080;initial catalog=DGSDATA;persist security info=True;user id=admin;password=*00%njep;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDGSWCFService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:16687/DGSWCFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDGSWCFService"
        contract="DGSService.IDGSWCFService" name="BasicHttpBinding_IDGSWCFService" />
    </client>
  </system.serviceModel>

  <DGSConfigurations>
    <!-- Ruta donde se encuentra el archivo de DataMensajes.xml -->
    <!--<DataMensajes FullPathDataMensajes="FC:\workspace Carvajal\BILL\DEV\Carvajal.Bill.Services\Carvajal.Bill.Service\DataMensajes.xml" />-->
    <!--Entorno Desarrollo ludvarbu-->
    <!--<DataMensajes FullPathDataMensajes="C:\Inetpub\DATA_MENSAJES\Bill\DataMensajes.xml" />-->
    <!--Produccion-->
    <DataMessage FullPathDataMessage="C:\Users\cessangu\Google Drive\Trabajos\Store Procedure\Fuentes\DGSRestServices\TestController\DataMessage.xml" />
  </DGSConfigurations>

  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="mylogfile.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>