<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DGSDATAEntities" connectionString="metadata=res://*/DGSDATAModel.csdl|res://*/DGSDATAModel.ssdl|res://*/DGSDATAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqlserver2012db.cloudapp.net,8080;initial catalog=DGSDATA;persist security info=True;user id=sa;password=*00%njep;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>